#pipelines {
  table-layout: fixed;
  width: 100%;
  /* text-align: center; */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: small;
  border-collapse: collapse;
  /* width: 100%; */
  white-space: nowrap;
  display: table;
  overflow-x: auto;
}

#pipelines th {
  overflow: hidden;
  border: 1px solid #000;
}

#pipelines td {
  overflow: hidden;
  border: 1px solid #000;
}


#pipelines tr:not(:first-of-type):hover {
  background-color: #ddd;
}

tr[target="pipeline index is even"] {
  background-color: #f2f2f2;
}

/* #pipelines td, #pipelines th {
  height: 10px;
  border: 1px dashed #ddd;
  padding: 6px;
} */

#pipelines thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4c63af;
  color: white;
}

.left {
  float: left;
  margin-right: 10px;
  vertical-align: middle;
  /* vertical-align: bottom; */
  display: table-cell;
}

.right {
  float: right;
  /* width: 100px; */
  /* vertical-align: middle; */
}

.bottom {
  flex-flow: column wrap;
  vertical-align: bottom;
  display: table-cell;
}


/* table {
  table-layout: fixed;
  border-collapse: collapse;
  /* width: 100%; */
/*}*/ 


/* table:not(.sticky) {
  margin-top: 40px;
} */