html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pipeline-database-side-bar-fixed {
  position: sticky;
  top: 50px;
  left: 0px;
  max-height: 100vh;
  background-color: goldenrod;
  overflow-y: auto;
}

.pipeline-database-wrapper {
  display: flex;
  gap: 0px;
}

.pipeline-database-side-bar {
  flex: 0 0 300px;
  background-color: darkcyan;
}

.pipeline-database-side-bar button {
  background: none!important;
  border: none;
  padding: 0!important;
  /* font-family: arial, sans-serif; */
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.pipeline-database-side-bar button:focus {
  color: red;
}

.app {
  padding-top: 55px;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  position: relative;
  width: 30%;
  margin: 0;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #999;
  /* overflow: auto; */
}

.header-fixed-zzz {
  /* padding-top: 150px; */
  position: sticky;
  top: 50px;
  z-index: 999;
  background-color: gold;
}

.collapse-container {
  min-height: 0px;
  height: auto;
  transition-duration: 266ms;
  transition: height 3000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.collapse-container-inner {
  margin: 8px;
}

.injection-points-title {
  margin: 0;
  margin-bottom: 0.35em;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.MuiTable-root {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

.MuiTableHead-root {
  display: table-header-group;
}

.MuiTableRow-root {
  color: inherit;
  display: table-row;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  vertical-align: middle;
}

.MuiTableRow-head {
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  border-spacing: 0;
  border-collapse: collapse;
}

.MuiTableCell-root {
  display: table-cell;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}

.MuiTableCell-body {
  color: rgba(0, 0, 0, 0.87);
}

.MuiTableCell-head {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 550;
  line-height: 1.5rem;
}

.MuiTableCell-alignRight {
  text-align: right;
  flex-direction: row-reverse;
}

.MuiTableCell-sizeSmall {
  padding: 6px 24px 6px 16px;
}

.MuiTableBody-root {
  display: table-row-group;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.makeStyles-root-1>* {
  border-bottom: unset;
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiIconButton-root:disabled {
  cursor: unset;
  background-color: unset;
  opacity: 0.4;
}

.MuiIconButton-sizeSmall {
  padding: 3px;
  font-size: 1.125rem;
}

.cell-wrapper {
  display: grid;
  grid-template-columns: 1fr 16px;
  gap: 4px;
  /* grid-auto-rows: minmax(100px, auto); */
}

.cell-l {
  display: grid;
  grid-template-columns: 1fr 16px;
  gap: 4px;
  grid-column: 1;
  grid-row: 1;
}

.cell-r {
  grid-column: 2;
  grid-row: 1;
}

.cell-fr {
  grid-column: 3;
  grid-row: 1;
}

.form-l {
  grid-column: 1;
  grid-row: 1;
}

.form-r {
  grid-column: 2;
  grid-row: 1;
}

.no-wrap {
  white-space: nowrap;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: darkblue;
}

nav ul {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  height: 40px;
  width: 100%;
  display: flex;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

nav ul li {
  text-align: center;
  flex: 1 1 0%;
  list-style-type: none;
  padding: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  color: azure;
}

nav ul li div {
  color: azure;
}

.app {
  padding-top: 55px;
}

.side-bar {
  color: black;
}

.header-fixed-zzz {
  /* padding-top: 150px; */
  position: sticky;
  top: 50px;
  z-index: 999;
  background-color: gold;
}

.pipeline-database-side-bar-fixed {
  position: sticky;
  top: 50px;
  left: 0px;
  max-height: 100vh;
  background-color: goldenrod;
  overflow-y: auto;
}

form input, select {
  border: 1px solid #333;
  font-family: inherit;
  float: left;
}

input.invalid {
  border-color: #900;
  background-color: #FDD;
}

input:focus.invalid {
  outline: none;
}