.connected-source {
  border-spacing: 0;
  font-size: small;
  text-align: center;
}

.source-data th:not(:first-child) {
  border-top: 2px black solid;
}

.source-data td {
  padding: 2px 0 2px 0;
}

.total-flow th {
  padding: 6px 0 6px 0;
}

.total-flow th:not(:first-child) {
  background-color: rgb(220, 220, 220);
}

/* .connected-source th:first-child() {
  width: 1000px;
} */

/* .connected-source thead {
  padding: 2px;
  background-color: blue;
  border: 1px solid red;

} */