:root {
  --main-date-column-width: 150px;
}

.license-change {
  display: grid;
  grid-template-columns: 30px var(--main-date-column-width) 135px 130px 240px auto;
  row-gap: 2px;
  column-gap: 4px;
  grid-auto-rows: minmax(20px, auto);
  /* font-size: xx-small; */
}

.license-change-row {
  padding: 2px;
}