.pipeline-batch {
  display: grid;
  grid-template-columns: 30px var(--date-width) 110px 80px 100px repeat(2, 110px) 220px auto;
  row-gap: 2px;
  column-gap: 4px;
  grid-auto-rows: minmax(40px, auto);
}

.pipeline-batch>.pipeline-data-view-header {
  font-size: small;
}

.pipeline-batch-row {
  padding: 2px;
}