.pipelines-window {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 30px)) 130px 100px 180px 230px 180px 230px repeat(2, 140px) calc(100vw - 1785px);

  row-gap: 2px;
  column-gap: 4px;
  grid-template-rows: 40px min-content;
  grid-auto-rows: min-content;
  border: #00b9f7 2px solid;
  border-radius: 6px;
  /* height: 1fr; */
  overflow: auto;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.pipeline-row {
  padding: 2px;
}

.pipelines-window>.pipeline-data-view-header {
  z-index: 999;
  border-bottom: #00b9f7 2px solid;
}

.pipeline-header {
  padding: 4px;
  grid-row: 1;
  font-weight: bold;
  text-align: center;
}

.sticky {
  position: sticky;
  background-color: rgb(250, 250, 210);
}

.top {
  z-index: 996;
  top: 0;
  margin: 0 -2px 0 -2px;
}

.left {
  left: 0;
}

.pipelines-window>.pipeline-data-view-header:first-child {
  margin: 0 -2px 0 0;
}

.pipelines-window>.pipeline-data-view-header:nth-child(10) {
  margin: 0 0 0 -2px;
}


.left:not(.top) {
  z-index: 997;
  margin: -1px 0 -1px 0;
}

.top+.left {
  margin-top: -2px;
}

.left.last {
  margin-bottom: 0;
}