.risk {
  display: grid;
  grid-template-columns: 30px 380px auto;
  row-gap: 2px;
  column-gap: 4px;
  /* grid-auto-rows: 30px auto; */
  /* flex-direction: row;
  justify-content: space-between; */
}



.risk-fields {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 6px;
  row-gap: 20px;
  grid-auto-rows: min-content;
  white-space: nowrap;
  overflow: auto;
  max-height: 590px;
  /* border: 2px solid black; */
}

.risk-matrix {
  display: grid;
  grid-template-columns: 20px repeat(6, 53px);
  grid-template-rows: repeat(2, 20px) repeat(6, 40px);
  background-color: rgb(228, 228, 228);
  text-align: center;
  font-size: xx-small;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}


.risk-matrix-wrapper {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* grid-template-columns: 100px auto;
  grid-auto-rows: min-content;
  column-gap: 30px;
  row-gap: 5px;*/
  /* border: 2px solid black; */
  padding: 5px;
  overflow: auto;
  max-height: 590px;
  max-width: min-content;
}

.risk-matrix>.probability.consequence {
  border: 5px cyan solid;
}

.risk-matrix>.probability {
  margin-top: -1px;
  border-top: 3px cyan solid;
  border-bottom: 3px cyan solid;
  font-weight: bold;
}

.risk-matrix>.consequence {
  margin-left: -1px;
  border-left: 3px cyan solid;
  border-right: 3px cyan solid;
  font-weight: bold;
}

.risk-matrix>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}


.property-header {
  font-size: small;
}