.record-entry-select {
  padding: 6px;
  background-color: #fff;
  border: 2px solid rgb(25 118 210);
  border-radius: 4px;
}

.entry-field {
  border: rgb(40 155 151) 2px solid;
}

.entry-field:focus {
  border: solid rgb(25 118 210) 2px;
}

.entry-field-form {
  display: flex;
  flex-direction: row;
}

.entry-field-form div {
  height: 30px;
}