.tabs {
  display: flex;
  flex-direction: column;
  border: #00b9f7 1px solid;
  border-radius: 6px;
  grid-column: 1;
  grid-row: 1;
  padding: 4px;
}

.tabs ol {
  padding: unset;
  display: flex;
  flex-direction: column;
}

.tab-panel:not(:last-child) {
  border-bottom: unset;
}

.tab-panel {
  display: flex;
  justify-content: space-between;
  border: #00b9f7 1px solid;
  font-size: small;
}

.highlighted {
  border-right: #f78000 solid 10px;
  font-weight: bold;
}

.tab-panel:hover {
  font-weight: bold;
  cursor: pointer;
}