form.edit-text-form input {
    -webkit-appearance: none;
    width: 80px;
    display: inline-block;
    /* width: 50%; */
    /* float: left; */
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    /* font-size: 90%; */
    box-sizing: border-box;
}

input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

form.edit-text-form button {
    float: right;
}

.cell-left span {
    float: left;
}

.cell-left {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    /* background-color: yellow; */
    /* float: left; */
    margin-right: 6px;
}

.cell-right {
    display: inline-block;
    vertical-align: middle;
    /* background-color: #900; */
    /* float: right; */
}

/* .cell-bottom {
    background-color: aqua;
    float: left;
    position:relative;
    bottom: 0px;
} */

/* .cell-top {
    background-color: blue;
    float: left;
    position:relative;
    margin: 0px auto;
    width: 100%; 
} */