form input, select {
    border: 1px solid #333;
    font-family: inherit;
    float: left;
}

input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}