form.hide-submit input[type="submit"] {
    display: none;
}

form.hide-submit svg:hover {
    cursor: pointer;
    background-color: white;
}

form.hide-submit svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.1rem;
    flex-shrink: 0;
    user-select: none;
}

form.hide-submit svg {
    fill: currentColor;
    display: inline;
    flex-shrink: 0;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
}

/* .button-container svg:hover {
    background-color: white;
} */

#submit-icon {
    fill: #000;
    height: 40px;
    width: 40px;
}