.expand-collapse-pipeline-container button {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    justify-content: center;
    background-color: transparent;
    width: 10px;
}

.expand-collapse-pipeline-container svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.1rem;
    flex-shrink: 0;
    user-select: none;
}

.expand-collapse-pipeline-container svg:hover {
    background-color: white;
}

.add-remove-pipeline-container button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: relative;
    vertical-align: middle;
    justify-content: center;
    background-color: transparent;
    width: 10px;
}

.add-remove-pipeline-container svg {
    fill: currentColor;
    display: inline;
    flex-shrink: 0;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
}

.add-remove-pipeline-container svg:hover {
    background-color: white;
}